* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green-light: #00DF5E;
    --white: #F9F9F9;
    --gray: #828282;
    --gray-200: #333333;
    --gray-400: #212121;
    --dark: #171717;

    --dm-sans: 'DM Sans', sans-serif;
}

body {
    background-color: var(--dark);
    font-family: var(--dm-sans);
}

a {
    text-decoration: none;
    color: var(--white);
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.logo {
    font-size: 26px;
    font-weight: 700;
}

.menu {
    display: flex;
    gap: 45px;
}

.menu__item {
    list-style: none;
}

.start {
    display: flex;
    justify-content: space-between;
    margin-top: 143px;
}

.start__title {
    color: var(--white);
    font-size: 36px;
    font-weight: 700;

}

.start__description {
    color: var(--gray);
    font-size: 18px;
    font-weight: 500;
    margin: 18px 0 35px 0;
}

.content-btn {
    display: flex;
    gap: 15px;
}

.down-cv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 143px;
    height: 42px;
    font-size: 14px;
    font-weight: 500;
    color: var(--dark);
    background-color: var(--green-light);
}

.start_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 157px;
    height: 42px;
    font-size: 14px;
    font-weight: 500;
    color: var(--white);
    border: 1px solid #333;
}

.about {
    margin-top: 170px;
}

.about__title {
    color: var(--white);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.about__description {
    color: var(--gray);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    width: 745px;
}   

.about__contact {
    display: flex;
    justify-content: space-around;
    margin-top: 85px;
}

.about__name img,
.about__email img,
.about__insta img,
.about__tel img {
    background-color: var(--gray-400);
    padding: 10px 10px;
    border-radius: 30px;
    margin-bottom: 19px;
}

.about__name h3, 
.about__email h3, 
.about__insta h3, 
.about__tel h3 {
    color: var(--white);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.about__name p, 
.about__email p, 
.about__insta p, 
.about__tel p {
    color: var(--gray);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.about__name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.about__email {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.about__insta {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.about__tel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.projects__title {
    color: var(--white);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-top: 127px;
}

.box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0px 45px;
    margin-top: 30px;
}

.box__projects {
    margin-bottom: 32px;
}

.box__projects img {
    margin: 20px 25px 23px 25px;
}

.box__title {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 6px;
    margin-left: 25px;
}

.box__description {
    color: var(--gray);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-left: 25px;
}


.box__projects {
    width: 350px;
    height: 240px;
    background-color: var(--gray-400);
}
